/* Global styles */
.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.btn{
    padding: 10px 10px;
    min-width: 90px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    opacity: 0.8;
    cursor: pointer;
}
.btn:hover{ 
    opacity: 1;
}
.btn:active{ 
    opacity: 0.6;
}
.btn--danger{
    background-color: #BB2D3B;
    color: white;
}

.btn--success{
    background-color: #157347;
    color: white;
}
.btn--info{
    background-color: #31D2F2;
    color: white;
}
.btn--primary{
    background-color: #0B5ED7;
    color: white;
}
