html{
    box-sizing: border-box;
}
*, 
*::after, 
*::before{
    box-sizing: inherit;
}

body{
    padding: 0;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif; */
}

/* Global styles */
.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.btn{
    padding: 10px 10px;
    min-width: 90px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    opacity: 0.8;
    cursor: pointer;
}
.btn:hover{ 
    opacity: 1;
}
.btn:active{ 
    opacity: 0.6;
}
.btn--danger{
    background-color: #BB2D3B;
    color: white;
}

.btn--success{
    background-color: #157347;
    color: white;
}
.btn--info{
    background-color: #31D2F2;
    color: white;
}
.btn--primary{
    background-color: #0B5ED7;
    color: white;
}


/* Header styles */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header__logo{
    margin-left: 20px;
}

.header__nav{
    margin-right: 20px;
}


.logo{
    height: 100px;
    display: block;
}

.logo__img{
    height: 100%;
    display: block;
}



.nav{
    display: flex;
}

.nav__item{
    display: flex;
    margin: 0 10px;
}

.nav__link{
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

.nav__link--disabled{
    color: rgb(190, 190, 190);
}

/* hero styles */
.hero{
    margin-top: 30px;
}

/* Text section styles */
.boxes{

}



.text{
    width: 400px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Footer styles */
.footer{
    padding: 50px;
    font-size: 20px;
    
    position: sticky;
    top: 0;
}

.footer--danger{
    color: white;
    background-color: #BB2D3B;
    
}

.footer--primary{
    color: white;
    background-color: #2d42bb;
    z-index: 1;
}

/* Services section styles */
.service{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.service__card{

}

.card{
    /* width: 30%; */
    padding:20px;
    position: relative;
    border-top: 2px solid #FDD6BA;
}
.card:nth-child(3){
    border-top: none;
}
.card::after{
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    top: -15.5px;
    background-color: white;
    left: 0;
    border-radius: 50%;
    border: 2px solid #0E8784;
}


.card__number{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    color: #FDD6BA;
}
.card__title{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 36px;
    padding-right: 90px;
    color: #333D4B;
}

.card__desc{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}