html{
    box-sizing: border-box;
}
*, 
*::after, 
*::before{
    box-sizing: inherit;
}

body{
    padding: 0;
    font-family: sans-serif;
    
}

/* Header styles */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header__logo{
    margin-left: 20px;
}

.header__nav{
    margin-right: 20px;
}


.logo{
    height: 100px;
    display: block;
}

.logo__img{
    height: 100%;
    display: block;
}



.nav{
    display: flex;
}

.nav__item{
    display: flex;
    margin: 0 10px;
}

.nav__link{
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

.nav__link--disabled{
    color: rgb(190, 190, 190);
}

/* hero styles */
.hero{
    margin-top: 30px;
}
